<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Tia do Zap</title>
</head>
<body>
<h1>{% if dia %}
        Bom dia, {{name}}! <img src="https://img.elo7.com.br/product/zoom/1CFCAB7/adesivo-de-parede-sol-desenho-pequeno-45x50-cm-adesivo-de-parede.jpg" alt="">
    {% else %}
        Boa noite, {{name}}! <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/2566800-icone-do-estilo-de-desenho-a-mao-magica-da-lua-e-das-estrelas-gratis-vetor.jpg" alt="">
    {% endif %}
</h1>
</body>
</html>